<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="nav">
    <h1 class="heading">Add New Posts</h1>
    </div>

    <div class="forms">
    <form method="post" action="/posts/form">
        <input placeholder="Enter Username" name="username" type="text"><br><br>
        <textarea rows="10" cols="40" name="content"></textarea><br>
        <button class="postbtn">Post</button>
    </form>
    </div>

</body>
</html>