<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="nav">
    <h1 class="heading">See In Details</h1>
    </div>

    <div class="vpost">
        <p class="id">Id : <%=post.id%></p>
        <h3 class="user">Username : @<%=post.username%></h3>
        <h4 class="content">Content : <%=post.content%></h4>
    </div>

</body>
</html>